####### requirements.txt #######

###### Requirements without Version Specifiers ######
# FastAPI
fastapi
fastapi-mcp
gunicorn
httpx
uvicorn[standard]
strawberry-graphql[debug-server]
# formデータ処理

# Database
# psycopg

# Core
datetime
python-dotenv

# Dev Tools
jinja2
lizard 

# Pytest
pytest
pytest-cov
pytest-asyncio
pytest-html
pytest-check

# コマンドサンプル
# lizard -l typython pescript --html > ./metrics.html


# Fluentd
#fluent-logger

###### Requirements with Version Specifiers ######
# requests == 2.24.0             # Version Matching. Must be version 2.24.0

#
###### Use pip no cache ######
# pip install --no-cache-dir -r requirements.txt